@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
	/* Colors */
	--bg: hsl(234, 17%, 12%);
	--primary: hsl(345, 95%, 68%);
	--secondary: hsl(237, 18%, 59%);
	--light: hsl(0, 0%, 100%);
	--calendar-dark: hsl(235, 16%, 14%);
	--calendar-light: hsl(236, 21%, 26%);

	/* Fonts */
	--font-primary: "Red Hat Text";
	--font-sm: 0.7rem;
	--font-md: 2rem;
	--font-lg: 3rem;

	/* Transitions */
	--transition-timing-function: ease-in-out;
	--transition-duration: 0.15s;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-family: var(--font-primary), sans-serif;
}

h3 {
	text-align: center;
	font-size: var(--font-sm);
	color: var(--secondary);
}

body {
	--browser-bar-size: 64px;

	display: grid;
	grid-template-rows: 3fr 1fr;
	width: 100%;
	height: calc(100vh - var(--browser-bar-size));
	margin: 0;
	background-color: var(--bg);
	background-image: url("../images/bg-stars.svg");
	background-position: center;
}

main {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.container-title {
	width: 100%;
	margin-bottom: 3rem;
}

.container-title h2 {
	color: var(--light);
	text-align: center;
	letter-spacing: 6px;
}

.container-countdown {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
}

.countdown-card {
	position: relative;
	width: 5rem;
	height: 6rem;
}

.countdown-card .card-top {
	width: 100%;
	height: 50%;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
	background-color: var(--calendar-dark);
}

.countdown-card .card-bottom {
	width: 100%;
	height: 50%;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	background-color: var(--calendar-light);
}

.countdown-card .card-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: var(--primary);
	font-size: var(--font-lg);
}

.countdown-card .card-text p {
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-image: url("../images/pattern-hills.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 85%;
}

footer .social-container {
	display: flex;
	gap: 2.5rem;
	margin-top: 4rem;
}

footer .social-container .social-link {
	font-size: 2rem;
	color: var(--secondary);
	transition: color var(--transition-timing-function) var(--transition-duration);
	-webkit-transition: color var(--transition-timing-function)
		var(--transition-duration);
	-moz-transition: color var(--transition-timing-function)
		var(--transition-duration);
	-ms-transition: color var(--transition-timing-function)
		var(--transition-duration);
	-o-transition: color var(--transition-timing-function)
		var(--transition-duration);
}

footer .social-link:hover {
	color: var(--primary);
}

@media screen and (min-width: 768px) {
	body {
		height: 100vh;
	}
}
