@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
	--bg: hsl(234, 17%, 12%);
	--primary: hsl(345, 95%, 68%);
	--secondary: hsl(237, 18%, 59%);
	--light: hsl(0, 0%, 100%);
	--calendar-dark: hsl(235, 16%, 14%);
	--calendar-light: hsl(236, 21%, 26%);
}

html {
	font-size: 14px;
	font-family: "Red Hat Text", sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: var(--bg);
	background-image: url("../images/bg-stars.svg");
	background-position: center;
}
